Active aliases for the current repository (including user-wide and global
aliases if not overridden):

foo = sigh
foo bar = bar
pull --from http://www.example.com/ = pfe
pull -a = pull --all
something different = pull --local

